img{
    width: 70%; 
    margin: auto; 
}
#text{
    width:45%; 
    font-family: 'Nunito' , sans-serif; 
}
#book{
    width: 50%; 
    margin: auto; 
}
#mother{
    width: 50%; 
    margin: auto; 
}
body{
    font-family: 'Nunito', sans-serif;

}
#topper{
    font-family: 'Poppins', sans-serif;
    
}

   
    
