img{
    width: 70%; 
    margin: auto; 
}
#text{
    width:45%; 
    font-family: 'Nunito' , sans-serif; 
}
#book{
    width: 50%; 
    margin: auto; 
}
#mother{
    width: 50%; 
    margin: auto; 
}
body{
    font-family: 'Nunito', sans-serif;
    background-color: #D62828; 

}
#topper{
    font-family: 'Poppins', sans-serif;
  background-color:#c27ba0; 
}
#sources{
margin:0px 0px 0px 10px; 
    
}

   
    
