@media{
body{
    background-color: lightpink; 
    font-family: 'Arial',sans-serif;
    
}
    @media(min-width:576px){
#headshot{
    width: 300px; 
    float: left;
}
#email a{
    font-weight: bold;
    color: black;
    font-size: 20px; 
    
}
#email a:hover{
    color:red; 
}
#info{
    width: 700px;
    margin: auto; 
    color: red; 
}
    }
#footer{
    position: fixed;
    bottom: 0px; 
    background-color: red; 
    width: 100%; 
    padding: 5px 5px 5px 5px; 
}
} 
