@media{
#headshot{
    width:300px; 
    float: left; 
    margin: 5px 5px 5px 5px;
}
body{
    font-family:'Arial',"san-serif"; 
    

}
#contact a{
    font-weight: bold; 
    color:black;
    font-size: 20ox; 
    
}
#contact a:hover{
    color:red; 
    
}
    @media (min-width:575px) {
#info{
    width: 700px; 
    margin: auto; 
    padding: 5px 5px 5px 5px; 
    
}
    } 
#footer{
    position: fixed; 
    bottom: 0px; 
    background-color: red; 
    width: 100%; 
}
}
