
@media {




    


#headshot {
    width:300px;
    padding:0px;
    margin:30px 0px 30px 40px;
    border-radius: 300px;
}
    
    
@media (min-width: 992px) {

body {
  background-color: #FFC0CB;
  font-family: 'Playpen Sans', cursive;
    }
}

    @media (min-width: 576px){
#topper{
    font-family: 'Handlee', cursive;
    font-size: 80px;
    background-color: #E18484; 
    justify-content: center;
    text-transform: uppercase;

}
}
  

#button {
    background-color:#D11616;
    border:0px;
    border-radius: 10px;
    padding:10px 30px 10px 30px;
    text-transform:uppercase;
    font-size: 20px; 
    position: sticky;
}
#button a {
    color:white;
    text-decoration: none;
}
#button a:hover{
    color:#FFC0CB;
    text-decoration: underline; 
    
}
    @media (min-width: 992px){
h3{
margin: 0px 0px 10px 15px;
    
}
 } 
    @media (min-width:992px){
p{
margin: 10px 0px 10px 15px;
    
}
    } 
#footer{
    background-color: #D44848; 
    color: black;
    position:sticky; 
  
  
}

.nav{
    background-color: lightcoral; 
}
.nav a {
     font-family:"Handlee", sans-serif;
     color:black;
     justify-content: center;
}
.nav a:hover {
    color: red; 
    text-decoration: underline; 
}
    
}




