


.img{
    width:100%;

}

#headshot {
    width:300px;
    padding:0px;
    margin:20px 0px 20px 40px;
    border-radius: 500px;
}
body {
  background-color: #FFC0CB;
  font-family: 'Playpen Sans', cursive;
    
}


#topper{
    font-family: 'Handlee', cursive;
    font-size: 80px;
    background-color: #E18484; 
    justify-content: center;

}
#Picture{
    width:300px;
    padding:0px;
    margin:20px 0px 20px 40px;
    border-radius: 500px;  
}
#button {
    background-color:#D11616;
    border:0px;
    border-radius: 10px;
    padding:10px 30px 10px 30px;
    text-transform:uppercase;
    margin:10px;
    font-size: 20px; 
}
#button a {
    color:white;
    text-decoration: none;
}
#footer{
    background-color: #D44848; 
    color: black;
    
  
  
}

}
.nav{
    background-color: #F6B9B9; 
}
.nav a {
     font-family:montserrat, sans-serif;
    color:black;
    justify-content: center;
}
.nav a:hover {
    color: red; 
}





